<!-- views/about.ejs -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="about-content">
        <h1>About Game Inventory</h1>

        <p>Welcome to the Game Inventory application, a platform for managing games and categories. This project was created as part of The Odin Project curriculum.</p>

        <p>With Game Inventory, you can:</p>
        <ul>
          <li>&#8618; Add new games to your inventory.</li>
          <li>&#8618; Update the details of existing games.</li>
          <li>&#8618; Delete games that are no longer needed.</li>
          <li>&#8618; Create and manage categories to organize your games.</li>
        </ul>

        <p>Start building your game collection today with Game Inventory!</p>
      </div>
    </div>
  </div>
</div>