<div class="indexDiv">
  <h1><%= title %></h1>

<p>Welcome to <em>GameBaseInventory</em>, the place where you find and store all of your new favorite games</p>

<h3>Database contains the following:</h3>

<ul>
  <li><strong>Games:</strong>&nbsp;<%= product_count %></li>
  <li><strong>Categories:</strong>&nbsp;<%= category_count %></li>
  <li><strong>Url path on site:</strong> &nbsp;<strong><%= url %></strong></li>
</ul>

</div>