<h1><%= title %></h1>

<p>Welcome to <em>GameBaseInventory</em>, the place where you find and store all of your new favorite games</p>

<h3>Database contains the following:</h3>

<ul>
  <li><strong>Games:</strong><%= product_count %></li>
  <li><strong>Categories:</strong><%= category_count %></li>

</ul>
