<h1><%= title %></h1>

  <ul>
    <% if (product_list.length > 0) { %>
      <% product_list.forEach(function(product) { %>
        <li>
          <a href="<%= product.url %>"><%= product.name %></a> 
        </li>
        <hr>
      <% }); %>
    <% } else { %>
      <li>There are no games.</li>
    <% } %>
  </ul>
